:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 85vh;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 90%;
  padding: 20px;
  border-radius: 8px;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 15px 0;
}

.forecast {
  display: inline;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.forecastHeader {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.rowDetailsMargin {
  margin-top: 35px;
}

.rowForecastMargin {
  margin-top: 24px;
}

.prognosisIconContainer {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -15%);
}

.weatherIconBig {
  height: 64px;
  width: 64px;
}

.weatherIconSmall {
  height: 32px;
  width: 32px;
}

.cityName {
  font-size: 2rem;
}

.cityNameContainer {
  position: absolute;

  width: 100%;
  height: 20%;
  align-items: flex-start; /* dodaj ta linijkę */
}
.temperature {
  position: absolute;
  margin-top: 110px;
  margin-left: -5px;
  min-width: 87px;
  flex-grow: 0;
  flex-shrink: 0;
}

.forecastText {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  max-height: 10vh;
  width: 100%;
  color: #fff;
  background-color: red;
  border-radius: 8px;
  margin-bottom: 25px;
}

.logoStyling {
  margin-top: 0px;
  color: #fff;
  text-shadow: 0px 0 black, 0 0px black, 0.5px 0 black, 0 -0.5px black;
}

.logoFullSize {
  font-size: 3.5rem;
  margin-bottom: 25px;
}

.logoSmallSize {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.headerText {
  font-size: 2rem;
}

.secondTextBold {
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}

.secondTextBoldDimmed {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.searchBox {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
}

button {
  padding: 16px 35px;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
}

.submitButton {
  color: #fff;
  background-color: #38a3d1;
  cursor: pointer;
}

.loadingButton {
  color: #fff;
  background-color: #38a3d180;
  cursor: none;
}

@media (max-width: 480px) {
  .App {
    align-items: center;
  }

  .headerText {
    font-size: 1.5rem;
  }

  .cityNameContainer {
    position: relative;
    width: 80%;
  }

  .cityName {
    font-size: 1.6rem;
  }
}
